<div class="login-bg">
  <div *ngIf="showLogin" class="login-container box-shadow col-lg-4 col-mg-6 col-sm-10 col-xs-10" [@slideToBottom]>
    <div class="text-center" [@expand]>
      <img src="assets/img/logo.png" class="logo" [ngClass]="logoClass" width="200px" />
    </div>
    <h2 class="login-header">ADMIN LOGIN</h2>
    <div class="form-group col-lg-12">
      <input type="text" placeholder="Username" class="inp-text mandatory" />
      <div class="overlay-inptext">
        <span>
          <i class="fa fa-user"></i>
        </span>
      </div>
    </div>
    <div class="form-group col-lg-12">
      <input type="password" placeholder="Password" class="inp-text mandatory" />
      <div class="overlay-inptext">
        <span>
          <i class="fa fa-key"></i>
        </span>
      </div>
    </div>
    <div class="col-lg-12 text-center margin-top-10">
      <button type="button" class="btn" (click)="login($event)">Login</button>
      <!-- <button type="button" class="btn disabled">Click</button> -->
    </div>
  </div>
</div>