@import  './../../../variables.scss';

/* The side navigation menu */

#sidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $white;
    overflow-x: hidden;
    padding-top: 0px;
    transition: 0.3s;
    border-right: 1px solid $cloud_white;
    /* box-shadow: 0px 0px 1px 2px #ddd; */
    > .logo {
      display: block;
      background: $white;
      height: 70px;
      padding-top: 8px;
    }
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: $cloud_dark;
      display: block;
      transition: 0.3s;
      &:hover {
        color: $cloud_white;
      }
    }
    .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
  
  /* The navigation menu links */
  
  /* When you mouse over the navigation links, change their color */
  
  /* Position and style the close button (top right corner) */
  
  .navcontents {
    padding: 0px;
    list-style: none;
    li {
      padding: 5px 0px;
      display: inline-flex;
      width: 100%;
      border-bottom: 1px solid $cloud_white;
      cursor: pointer;
      &:first-child {
        border-top: 1px solid $cloud_white;
      }
    }
  }
  
  .navicon {
    font-size: 24px;
    min-width: 70px;
    text-align: center;
    padding: 2px;
  }
  
  .navtext {
    width: auto;
    font-size: 16px;
    display: inline-block;
    padding: 10px 0px;
  }
  
  .navuserprof {
    width: 100%;
    display: block;
    text-align: center;
    user-select: none;
    img {
      width: 50%;
      border-radius: 50%;
      display: inline-block;
      box-shadow: 0px 0px 1px 2px $cloud_white;
      margin: 5px 0px;
    }
  }
  
  .sideusername {
    display: block;
    font-size: 16px;
  }
  
  .sideuserdesc {
    font-size: 12px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    #sidenav a {
      font-size: 18px;
    }
  }