<!-- <p-sidebar [(visible)]="display" [(modal)]="!display">
    Content
</p-sidebar>

<button type="text" (click)="display = !display" icon="pi pi-plus"><i class="fa fa-bars" aria-hidden="true"></i></button> -->

<div id="sidenav">
  <div class="logo">
    <img src="assets/img/logo.png" width="70px" />
  </div>
  <ul class="navcontents">
    <li>
      <div class="navuserprof">
        <div>
          <img src="assets/img/user-sample.png" />
        </div>
        <div *ngIf="displayFull">
          <span class="sideusername">
            Sanat S
          </span>
          <span class="sideuserdesc">
            Shop Manager
          </span>
        </div>
      </div>
    </li>
    <li [routerLink]="['/dashboard']">
      <span class="navicon">
        <i class="fa fa-home" aria-hidden="true"></i>
      </span>
      <span class="navtext">
        Dashboard
      </span>
    </li>
    <li [routerLink]="['/profile']">
      <span class="navicon">
        <i class="fa fa-user" aria-hidden="true"></i>
      </span>
      <span class="navtext">
        Profile
      </span>
    </li>
  </ul>
</div>