<div *ngIf="showLockScreen" class="lock-container box-shadow col-lg-3 col-mg-6 col-sm-10 col-xs-10" [@slideToTop]>
  <h2 class="lock-header">LOCKED</h2>
  <div class="navuserprof">
    <div>
      <img src="assets/img/user-sample.png" />
    </div>
    <div>
      <span class="sideusername">
        Sanat S
      </span>
      <span class="sideuserdesc">
        Shop Manager
      </span>
    </div>
  </div>
  <br>
  <div class="form-group col-lg-12">
    <input type="password" placeholder="Password" class="inp-text mandatory" />
    <div class="overlay-inptext">
      <span>
        <i class="fa fa-key"></i>
      </span>
    </div>
  </div>
  <div class="col-lg-12 text-center margin-top-10">
    <button type="button" class="btn" (click)="unlockUser($event)">Unlock</button>
    <p class="diff-user" (click)="logoutUser()">Not Sanat S? Login as different user</p>
  </div>
</div>