@import  './../../../variables.scss';

.lock-container {
    background: $white;
    border: 1px solid $cloud_white;
    padding: 55px 35px;
    padding-top: 35px;
    margin: 0 auto;
    margin-top: 15vh;
    float: none;
    display: flow-root;
  }
  
  .box-shadow {
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  }
  
  .lock-header {
    width: 98%;
    display: inline-block;
    position: relative;
    margin: 0px 5px 20px;
    text-align: center;
    font-size: 21px;
    color: #333;
    padding: 5px;
    border-bottom: 2px solid $primary_pink;
    &:after {
      content: '';
      position: absolute;
      right: 0px;
      bottom: -5px;
      width: 75px;
      height: 4px;
      background: $primary_pink;
    }
  }
  
  .navuserprof {
    width: 100%;
    display: block;
    text-align: center;
    user-select: none;
    img {
      width: 30%;
      border-radius: 50%;
      display: inline-block;
      box-shadow: 0px 0px 1px 2px $cloud_white;
      margin: 5px 0px;
    }
  }
  
  .sideusername {
    display: block;
    font-size: 16px;
  }
  
  .sideuserdesc {
    font-size: 12px;
  }
  
  .diff-user {
    margin: 10px 0px;
    color: $secondary_pink;
    cursor: pointer;
    &:hover {
      color: $primary_pink;
    }
  }