/* You can add global styles to this file, and also import other style files */
@import 'variables';

* {
    outline: none !important;
    font-family: 'Karla', sans-serif;
  }
  
  body {
    background: $white;
  }
  
  /*General*/
  
  .text-center {
    text-align: center;
  }
  
  .margin-top-10 {
    margin-top: 10px;
  }
  
  .overlay-inptext {
    position: absolute;
    top: 15px;
    right: 15px;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  
  /* Form */
  
  .form-group {
    padding: 0px;
    position: relative;
  }
  
  /* Button section */
  
  .btn {
    display: inline-block;
    padding: 10px 15px;
    min-width: 150px;
    margin: 5px;
    /* background: linear-gradient(to left, $white 50%, $primary_pink 50%);
    background-size: 201% 100%;
    background-position:right bottom; */
    background: $white;
    border: 1px solid $primary_pink;
    box-shadow: 0px 0px 1px 1px #e70d8933;
    color: $primary_pink;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: all .15s ease;
    &.disabled {
      background: $cloud_white;
      border: 1px solid $cloud_white;
      color: #999;
      cursor: not-allowed;
    }
    &:not(.disabled) {
      &:hover {
        color: $white;
        background: $primary_pink;
        /* background-position:left bottom; */
      }
      &:focus {
        color: $primary_pink;
      }
    }
  }
  
  /* Input section */
  
  .inp-text {
    position: relative;
    display: inline-block;
    width: 98%;
    border: 1px solid $cloud_white;
    padding: 10px 25px 10px 15px;
    margin: 1%;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    &.mandatory {
      border-left: 3px solid $primary_pink;
    }
    &:focus + .overlay-inptext {
      color: $primary_pink;
    }
    &::-webkit-input-placeholder {
      color: #999;
      -moz-transition: ease-in 0.5s;
      -o-transition: ease-in 0.5s;
      -webkit-transition: ease-in 0.5s;
      transition: ease-in 0.5s;
      transform-origin: 0 50%;
    }
    &:before {
      content: "asdad";
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 100%;
    }
    &:focus::-webkit-input-placeholder {
      text-indent: -200px;
    }
  }
  
  /*Selection button*/
  
  .multi-selection-button {
    padding: 0px;
    list-style: none;
    text-align: center;
    li {
      cursor: pointer;
      border: 1px solid $cloud_white;
      display: inline-block;
      margin: 5px;
      padding: 10px 25px;
      border-radius: 25px;
      box-shadow: 0px 0px 1px 1px $cloud_white;
      &.active {
        background: $primary_pink;
        color: $white;
      }
    }
  }
  
  /* Overlay changes */
  
  body .ui-widget-overlay {
    background-color: #000000;
    opacity: .85;
    filter: Alpha(Opacity = 50);
  }
  
  /* Theme changes */
  
  .gbam-theme {
    #sidenav {
      background-color: $secondary_pink !important;
      border-right: 1px solid $secondary_pink !important;
      > .logo {
        background: $secondary_pink !important;
      }
    }
    .navuser {
      border-left: 1px solid #8b145450 !important;
    }
    #navbar {
      background: url('assets/img/bg-header.svg') no-repeat $primary_pink !important;
      background-position-x: -45px !important;
    }
    .navcontents {
      color: $cloud_white !important;
      li {
        &:first-child {
          border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
        }
        border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
      }
    }
    .navusericon {
      color: $cloud_white !important;
    }
    .search input[type=text] {
      border: 1px solid $primary_pink !important;
      &::-webkit-input-placeholder {
        color: $secondary_pink !important;
      }
    }
    .cashbox {
      color: $cloud_white !important;
    }
  }