@import  './../../../variables.scss';

#navbar {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    z-index: 100;
    border-bottom: 1px solid $cloud_dark;
    /* box-shadow: 0px 0px 1px 2px #ddd; */
    margin-left: 70px;
    transition: margin-left 0.3s;
    .hamburger {
      float: left;
      padding: 15px;
      font-size: 28px;
      margin: 0px;
      color: $primary_pink;
      cursor: pointer;
      transition: margin-left 0.3s ease-in-out;
      &.opened {
        margin-left: -50px;
      }
    }
  }
  
  .sidebar-header {
    display: inline-block;
    width: 100%;
  }
  
  .navuser {
    float: right;
  }
  
  .navusericon {
    position: relative;
    font-size: 24px;
    padding: 15px;
    padding-top: 20px;
    height: 70px;
    float: left;
    i {
      cursor: pointer;
    }
  }
  
  .cashinfo {
    float: left;
  }
  
  .cashbox {
    position: relative;
    display: inline-block;
    position: relative;
    border: 1px solid $cloud_white;
    border-left: 0;
    margin: 12px 5px;
    font-weight: bold;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    > span:first-child {
      width: 40px;
      color: #333;
      background: $cloud_white;
      font-size: 18px;
      padding: 7px 10px;
      display: inline-block;
      transition: 0.5s ease-in-out;
    }
    .amount {
      &:before {
        content: '\20A6';
        font-size: 13px;
        margin-right: 5px;
        transition: 0.5s ease-in-out;
      }
      padding: 0px 5px;
      vertical-align: middle;
      display: inline-block;
      min-width: 80px;
      transition: 0.5s ease-in-out;
    }
  }
  
  .cashbox-header {
    position: absolute;
    top: -100%;
    right: 0;
    font-size: 10px;
    border-bottom: 1px solid;
    transition: 0.5s ease-in-out;
  }
  
  .cashbox:hover {
    .amount {
      vertical-align: bottom;
      /* margin-bottom: 2px; */
    }
    .cashbox-header {
      top: 0;
    }
  }
  
  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  
  .infinite-spin {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
  
  .ui-sidebar .ui-sidebar-close {
    display: none;
  }
  
  .settings-header {
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid $cloud_white;
    margin: 10px 0px;
    padding-bottom: 10px;
  }
  
  .settings-options {
    list-style: none;
    padding: 0px;
    li {
      cursor: pointer;
      display: block;
      padding: 10px 15px;
      .settingsicon {
        opacity: 0;
        color: $secondary_pink;
        margin-right: 10px;
        transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
      }
      &:hover {
        background: #e70d8925;
        .settingsicon {
          opacity: 1;
        }
      }
    }
  }
  
  .search {
    float: left;
    margin: 15px 10px;
    input[type=text] {
      padding: 8px 15px;
      overflow: hidden;
      border: 1px solid $cloud_dark;
      border-radius: 20px;
      width: 210px;
      transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      &:focus {
        width: 300px;
        transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
      }
      &::-webkit-input-placeholder {
        color: $cloud_dark;
        -moz-transition: ease-in 0.3s;
        -o-transition: ease-in 0.3s;
        -webkit-transition: ease-in 0.3s;
        transition: ease-in 0.3s;
        transform-origin: 0 50%;
      }
      &:focus::-webkit-input-placeholder {
        -moz-transform: translateX(70%);
        -ms-transform: translateX(70%);
        -webkit-transform: translateX(70%);
        transform: translateX(70%);
        opacity: 0;
      }
    }
  }
  
  .dropdownmenu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: $white;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid $cloud_dark;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
  
  .notification-box {
    border: medium none;
    width: 300px;
    padding: 0;
    border-radius: 0;
    margin: 0;
    a {
      &:hover, &:visited, &:focus {
        text-decoration: none;
      }
    }
    li a:hover {
      background: $cloud_white;
    }
  }
  
  .notification-header {
    padding: 10px 20px;
    border-bottom: 1px solid $cloud_white;
    h4 {
      color: #333;
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
      vertical-align: middle;
      margin: 0;
    }
    > a {
      color: #7b7b7b;
      float: right;
      font-size: 13px;
      font-weight: 400;
      text-transform: capitalize;
      &:hover {
        color: $secondary_pink;
      }
    }
  }
  
  .notification-body {
    height: 240px;
    position: relative;
    ul {
      padding: 0;
    }
    li {
      border-bottom: 1px solid $cloud_white;
      margin: 0 !important;
      list-style: none;
      &.unread {
        background: #ec2b8f15;
      }
    }
    > ul > li > a {
      display: block;
      padding: 12px;
      margin: 0;
      border-radius: 0;
    }
  }
  
  .notification-img {
    &.bg_notif {
      background: $primary_pink none repeat scroll 0 0;
      color: $white;
    }
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    border-radius: 5px;
  }
  
  .notification-txt {
    overflow: hidden;
    > {
      h4 {
        color: #333;
        font-size: 14px;
        text-transform: capitalize;
        margin: 0;
      }
      span {
        color: $cloud_dark;
        font-size: 11px;
        text-transform: capitalize;
        margin-top: 5px;
        float: right;
      }
    }
  }
  
  .notification-footer {
    background: $cloud_white none repeat scroll 0 0;
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid $cloud_white;
    > a {
      color: #606060;
      font-size: 13px;
      font-weight: 400;
      text-transform: capitalize;
    }
  }